<section class="medical-events-container">
    <header class="medical-events-header">
        <app-medical-events-search-controls
                [medicalEvents]="medicalEvents"
                (medicalEventsSorted)="updateMedicalEventsList($event)">
        </app-medical-events-search-controls>
    </header>
    <div class="medical-events-content">
        <div class="medical-event-container"
             *ngFor="let medicalEvent of sortedMedicalEvents; index as i">
            <app-medical-event
                    [medicalEvent]="medicalEvent"
                    (deleted)="onDelete(medicalEvent, i)">
            </app-medical-event>
        </div>
    </div>
</section>
