<section class="confirm-dialog-container">
    <header class="dialog-header">
        <h2 class="heading">{{data.confirmHeading}}</h2>
    </header>
    <div class="btn-group">
        <button
                mat-raised-button
                color="primary"
                (click)="confirm()">
            Confirm
        </button>
        <button
                mat-raised-button
                color="secondary"
                (click)="cancel()">
            Cancel
        </button>
    </div>

</section>
