.medical-event-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  border: 1px solid #ccc;

  .medical-event-info {
    padding: 0.3rem 1rem;

    .med-event-timestamp {
      color: #4455df;
    }
  }

  .btn-group {
    margin-left: auto;
    color: #ccc;
  }
}

@media all and (max-width: 700px) {
  .medical-event-container {
    flex-direction: column;

    .btn-group {
      order: -1;
    }
  }
}
