<div class="medical-event-container">
    <div class="left-panel">
        <div class="medical-event-info">
            <span><b>{{medicalEvent.summary}}</b></span>
        </div>
        <div class="medical-event-info">
            <span class="med-event-timestamp">
                <b>{{medicalEvent.timestamp?.toDate() | date : 'short'}}</b>
            </span>
        </div>
        <div class="medical-event-info">
            <span><b>Type: </b></span>
            <span>{{medicalEvent.type}}</span>
        </div>
        <div class="medical-event-info">
            <span>Med Attention Required: </span>
            <span>{{medicalEvent.medicalAttentionRequired ? 'Yes' : 'No'}}</span>
        </div>
    </div>
    <div class="right-panel">
        <div class="medical-event-info">
            <span><b>Notes: </b></span>
            <p>{{medicalEvent.notes}}</p>
        </div>
    </div>
    <div class="btn-group">
        <button mat-icon-button (click)="onDelete()">
            <mat-icon>delete_outline</mat-icon>
        </button>
    </div>
</div>
