<section class="new-pet-container">
    <h3>Add New Pet</h3>
    <form [formGroup]="newPetForm" class="new-pet-form" (ngSubmit)="addedNewPet()">
        <mat-form-field appearance="outline">
            <mat-label>Pet Name</mat-label>
            <input matInput
                   autocomplete="off"
                   required
                   formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Animal Type</mat-label>
            <input matInput
                   autocomplete="off"
                   required
                   formControlName="animalType">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Breed</mat-label>
            <input matInput
                   autocomplete="off"
                   formControlName="breed">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput
                      autocomplete="off"
                      formControlName="description">
            </textarea>
        </mat-form-field>
        <div class="btn-group">
            <button mat-raised-button
                    color="primary"
                    [disabled]="newPetForm.invalid"
                    type="submit">
                Add Pet
            </button>
            <button mat-raised-button
                    color="secondary"
                    (click)="close()"
                    type="button">
                Cancel
            </button>
        </div>
    </form>
<!--    <pre>{{newPetForm.value | json}}</pre>-->
</section>
