.card-header {
  .profile-image {
    width: 10rem;

    img {
      width: 100%;
    }
  }

  hr.side-header-hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .edit-btn {
    margin-left: auto;
  }
}

.card-content {
  margin-top: 3rem;

  .pet-description {
    font-family: sans-serif;
  }
}
