<section class="pet-profile-container">
    <mat-card class="profile-card" *ngIf="pet">
        <mat-card-header class="card-header">
            <div mat-card-avatar class="profile-image">
                <img src="{{pet.profileImages[pet.profileImages.length - 1]}}"
                     *ngIf="pet.profileImages?.length > 1"
                     alt="Pet Profile Image">
                <img src="https://via.placeholder.com/150"
                     *ngIf="pet.profileImages?.length <= 1"
                     alt="Pet Profile Image">
            </div>
            <mat-card-title>Profile</mat-card-title>
            <mat-card-subtitle>
                {{pet.name}} | {{pet.breed || pet.animalType}}
                <hr class="side-header-hr">
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="pet.birthday">
                <b>Age:</b> {{pet.birthday | birthdayToAge}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="pet.color">
                <b>Color:</b> {{pet.color}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="pet.birthday">
                <b>Birthday:</b> {{pet.birthday.toDate() | date : 'longDate'}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="pet.sex">
                <b>Sex:</b> {{pet.sex}}
            </mat-card-subtitle>
            <div class="edit-btn">
                <button mat-raised-button
                        (click)="onEditModeClicked()">
                    Edit
                </button>
            </div>
        </mat-card-header>
<!--        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content *ngIf="pet.description" class="card-content">
            <p>{{pet.description}}</p>
        </mat-card-content>
<!--            <p class="edit-description">-->
<!--                Edit Description-->
<!--            </p>-->
        <mat-card-actions>
<!--            -->
        </mat-card-actions>
    </mat-card>

</section>
