<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         *ngIf="accountService.account$ | async as account"
         class="nav-item"
         routerLink="/profile/{{currentPetName || account.pets[0]?.name}}"
         routerLinkActive="active"
         href="#">
        <mat-icon aria-label="profile">fingerprint</mat-icon>
        Profile
      </a>
      <a mat-list-item
         class="nav-item"
         routerLink="/account"
         routerLinkActive="active"
         href="#">
        <mat-icon aria-label="Home">account_circle</mat-icon>
        Account
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="top-navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="auth.user$ | async"
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="navbar-logo">
        <!--<mat-icon aria-label="app logo" svgIcon="[APP-LOGO-SVG]"></mat-icon>-->
        Pet Tracker
      </span>
      <div class="nav-group-right logged-in"
            *ngIf="auth.user$ | async as user else loginButton">
        <span *ngIf="accountService.account$ | async as account">
          {{ currentPetName }}
        </span>
        <button
                class="nav-btn"
                mat-raised-button
                color="secondary"
                (click)="logout()">
          Logout
        </button>
      </div>

      <ng-template #loginButton>
        <div class="nav-group-right">
          <button
                  class="nav-btn"
                  mat-raised-button
                  color="secondary"
                  (click)="login()">
            Login
          </button>
        </div>
      </ng-template>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
