.search-controls-container {
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 790px) {
  .search-controls-container {
    flex-direction: column;
    text-align: center;
  }
}
