<mat-card class="medical-info-card">
    <mat-card-header>
<!--        <div mat-card-avatar class="medical-header-image"></div>-->
        <mat-card-title>Health</mat-card-title>
<!--        <mat-card-subtitle></mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>

        <mat-accordion *ngIf="userId && petId">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Vet Info
                    </mat-panel-title>
<!--                    <mat-panel-description>-->
<!--                        Vet related information-->
<!--                    </mat-panel-description>-->
                </mat-expansion-panel-header>

                <app-vets-container
                        [petId]="petId"
                        [petList]="petList"
                        [userId]="userId">
                </app-vets-container>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>

    <mat-card-actions>
<!--        <button mat-button>LIKE</button>-->
<!--        <button mat-button>SHARE</button>-->
    </mat-card-actions>
</mat-card>
