<mat-card class="medical-info-card">
    <mat-card-header>
<!--        <div mat-card-avatar class="medical-header-image"></div>-->
        <mat-card-title>Health</mat-card-title>
<!--        <mat-card-subtitle></mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>

        <mat-accordion *ngIf="userId && pet?.id">
            <mat-expansion-panel
                    (opened)="vetInfoOpen = true"
                    (closed)="vetInfoOpen = false">
                <mat-expansion-panel-header>
                    <mat-panel-title
                            class="vet-info-title"
                            [class.vetInfoOpen]="vetInfoOpen">
                        Vet Info
                    </mat-panel-title>
                <mat-panel-description
                        class="vet-info-description"
                        [class.vetInfoOpen]="vetInfoOpen">
                    Your pet's vet information
                </mat-panel-description>
                <div *ngIf="vetInfoOpen">
                    <button mat-flat-button
                            class="add-vet-btn"
                            color="secondary"
                            (click)="gotToAccount()">
                        <mat-icon>add</mat-icon>
                        Add Vet
                    </button>
                </div>
                </mat-expansion-panel-header>

                <app-vets-container
                        [petId]="pet?.id"
                        [petList]="petList"
                        [userId]="userId">
                </app-vets-container>
            </mat-expansion-panel>

            <mat-expansion-panel
                    (opened)="shotsInfoOpen = true"
                    (closed)="shotsInfoOpen = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Shots Info
                    </mat-panel-title>
                    <mat-panel-description>
                        Shots and vaccination info
                    </mat-panel-description>
                    <div *ngIf="shotsInfoOpen">
                        <button mat-flat-button
                                class="add-shot-btn"
                                color="secondary"
                                (click)="addShot()">
                            <mat-icon>add</mat-icon>
                            Add Shot
                        </button>
                    </div>
                </mat-expansion-panel-header>

                <app-shots-container
                        [pet]="pet">
                </app-shots-container>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Medical Events
                    </mat-panel-title>
                    <mat-panel-description>
                        Track your pet's medical events
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!--                <app-vets-container-->
                <!--                        [petId]="petId"-->
                <!--                        [petList]="petList"-->
                <!--                        [userId]="userId">-->
                <!--                </app-vets-container>-->
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>

    <mat-card-actions>
<!--        <button mat-button>LIKE</button>-->
<!--        <button mat-button>SHARE</button>-->
    </mat-card-actions>
</mat-card>
