<section class="vet-info-container">
    <app-vet-info
            *ngIf="!editModeOn else editModeUi"
            [vet]="vet"
            [petList]="petList"
            [showPetList]="showPetList"
            (clickedOnPet)="onPetClicked($event)"
            (editModeOn)="toggleEditMode()">
    </app-vet-info>
    <ng-template #editModeUi>
        <app-vet-form
                [vet]="vet"
                [petList]="petList"
                (submitted)="onVetEdited($event)"
                (cancelled)="toggleEditMode()">
            <button mat-flat-button
                    color="warn"
                    class="delete-btn"
                    type="button"
                    (click)="deleteVet(vet)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </app-vet-form>
    </ng-template>
</section>
