<section class="vet-info-container">
    <app-vet-info
            *ngIf="!editModeOn else editModeUi"
            [vet]="vet"
            [petList]="petList"
            [showPetList]="showPetList"
            (clickedOnPet)="onPetClicked($event)"
            (editModeOn)="toggleEditMode()">
    </app-vet-info>
    <ng-template #editModeUi>
        <app-vet-form
                [vet]="vet"
                [petList]="petList"
                (submitted)="onVetEdited($event)"
                (cancelled)="toggleEditMode()">
        </app-vet-form>
    </ng-template>
</section>
