<div class="vet-form-container">
    <form [formGroup]="vetForm" class="vet-form" (ngSubmit)="onSubmit()">
        <div class="short-field-row">
            <mat-form-field appearance="outline" class="short-width-field">
                <mat-label>Clinic Name</mat-label>
                <input matInput
                       autocomplete="off"
                       required
                       formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="short-width-field">
                <mat-label>Dr. Name</mat-label>
                <input matInput
                       autocomplete="off"
                       formControlName="drName">
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="full-width-field">
            <mat-label>Vet Address</mat-label>
            <input matInput
                   autocomplete="off"
                   required
                   formControlName="address">
        </mat-form-field>
        <div class="short-field-row">
            <div class="short-width-field">
                <div class="checkbox-container">
                    <mat-checkbox
                            formControlName="primary">
                        Primary Vet
                    </mat-checkbox>
                </div>
            </div>
            <mat-form-field appearance="outline" class="short-width-field">
                <mat-label>Vet Type</mat-label>
                <mat-select formControlName="vetType">
                    <mat-option
                            *ngFor="let vetType of availableVetTypes"
                            [value]="vetType">
                        {{vetType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="short-field-row">
            <mat-form-field
                    appearance="outline"
                    class="short-width-field"
                    *ngIf="this.vetForm.get('vetType').value.includes('Clinic') ||
                    !this.vetForm.get('vetType').value">
                <mat-label>Phone</mat-label>
                <input matInput
                       autocomplete="off"
                       formControlName="phone">
            </mat-form-field>
            <mat-form-field
                    appearance="outline"
                    class="short-width-field"
                    *ngIf="this.vetForm.get('vetType').value.includes('Emergency')">
                <mat-label>Emergency Phone</mat-label>
                <input matInput
                       autocomplete="off"
                       formControlName="emergencyPhone">
            </mat-form-field>
        </div>
        <div class="short-field-row">
            <mat-form-field
                    appearance="outline"
                    class="short-width-field">
                <mat-label>Pets</mat-label>
                <mat-select formControlName="petIds" multiple>
                    <mat-option
                            *ngFor="let petRef of petList"
                            [value]="petRef.id">
                        {{petRef.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="btn-group">
            <div class="left-btns">
                <button mat-raised-button
                        color="primary"
                        [disabled]="vetForm.invalid"
                        type="submit">
                    Save
                </button>
                <button mat-raised-button
                        color="secondary"
                        (click)="onCancel()"
                        type="button">
                    Cancel
                </button>
            </div>
            <div class="right-btns">
                <ng-content></ng-content>
            </div>
        </div>
    </form>
</div>
