<section class="pet-profile-container">
    <mat-card class="example-card" *ngIf="pet">
        <mat-card-header class="card-header">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{pet.name}}</mat-card-title>
            <mat-card-subtitle>{{pet.breed}}</mat-card-subtitle>
            <div class="save-btn">
<!--                <button mat-raised-button-->
<!--                        color="primary"-->
<!--                        (click)="savePetProfile()">-->
<!--                    Save-->
<!--                </button>-->
            </div>
        </mat-card-header>
        <app-pet-profile-form
                [pet]="pet"
                [formTitle]="'Edit Profile'"
                (formCancelled)="turnEditModeOff()"
                (formSubmitted)="savePetProfile($event)">
        </app-pet-profile-form>
        <mat-card-content>
        </mat-card-content>
        <!--            <p class="edit-description">-->
        <!--                Edit Description-->
        <!--            </p>-->
        <mat-card-actions>
            <!--            -->
        </mat-card-actions>
    </mat-card>

</section>
